.movieDetails {
}
.movieDetailsContainer {
  display: flex;
  column-gap: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
.movieDetailsImg {
  width: 250px;
  height: 400px;
  object-fit: cover;
}
.movieDetailsColumn {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px 0;
}
.movieDetailsTitle {
  font-size: 25px;
  font-weight: bold;
}
.movieDetailsSubTitle {
  font-size: 20px;
  font-weight: bold;
}
.movieDetailsText {
}
.movieDetailsList {
  display: flex;
  column-gap: 10px;
}
.movieDetailsListItem {
}

.movieDetailsListInfo {
  list-style: circle;
  padding: 15px 30px;
}

.movieDetailsAdditionalInfo {
  border-bottom: 2px solid black;
}
